* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .sectn {
    height: 100vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    padding: 0% !important;
  }
  
  .frst {
    background: #0c0d0d;
  }
  
  .scnd {
    background: #39b058;
  }
  
  .thr {
    background: #fd2c25;
  }
  
  .fourthone {
    background: #49b4de;
  }
  
  .dockcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .clm-lft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 3rem;
  }
  
  .clm-lft h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
  }
  
  .clm-lft p {
    margin-bottom: 2rem;
    font-size: 5vh;
    line-height: 1.1;
  }
  
  .buythisnow {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #f5cd03;
    color: #0c0d0d;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .clm-rgt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem;
  }
  
  .pics {
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 570px;
  }
  
  .text {
    color: #fff;
    /* text-align: right; */
  }
  
  @media screen and (max-width: 768px) {
    .dockcontainer {
      grid-template-columns: 1fr;
    }
  }